/**
 * Styles for the public front-end
 *  Replicating Godaddy Website Builder implementation for Hands Of Light
 *
 * This file contains CSS.
 *
 * @link        https://github.com/dotherightthing/wpdtrt-maps
 * @since       0.1.0
 *
 * @package     Wpdtrt_Maps
 * @subpackage  Wpdtrt_Maps/views
 */

.wpdtrt-map {
  position: relative; /* AP for link */
  margin-top: 20px;
}

.wpdtrt-map-embed {
  height: 500px;
}

/* Custom Legend */

.wpdtrt-map-embed .wpdtrt-map-legend {
  background: #fff;
  color: #000;
  border: 1px solid;
  line-height: initial;
  padding: 5px;
  margin: 0;
}

/* Zoom controls */

/* add space below the control for the map link */
/* @see https://stackoverflow.com/questions/33614912/how-to-locate-leaflet-zoom-control-in-a-desired-position */
.wpdtrt-map-embed .leaflet-bottom.leaflet-left .leaflet-control-zoom {
  bottom: 30px !important; /* an extra 10px allows for the missing .mapbox-logo.leaflet-control */
}

/* allow for leaflet incorrectly applying touch styling in MacOS Chrome */
.wpdtrt-map-embed.leaflet-touch .leaflet-bar a {
  font-size: 16px; /* match Godaddy which uses mapbox icons instead */
  width: 26px; /* match Godaddy */
  height: 26px; /* match Godaddy */
  line-height: 23px; /* vertically center */
}

.wpdtrt-map-embed.leaflet-touch .leaflet-control-layers,
.wpdtrt-map-embed.leaflet-touch .leaflet-bar {
  border-width: 1px;
  border-color: #999;
  border-color: rgba(0,0,0,.4);
  border-radius: 3px;
}

/* Attributions */

.wpdtrt-map-embed.leaflet-container .leaflet-control-attribution {
  background-color: rgba(255,255,255,.5);
  font-size: 12px;
}

.wpdtrt-map-embed.leaflet-container .leaflet-control-attribution a {
  color: inherit;
  text-decoration: underline;
}

.wpdtrt-map-link {
  position: absolute;
  bottom: 0;
  z-index: 401; /* leaflet uses 400 */
  width: 100%;
}

.wpdtrt-map-link a {
  font-weight: normal;
  font-style: normal;
  line-height: 20px;

  display: block;

  height: 20px;
  padding: 5px 5px 5px 10px;

  vertical-align: middle;

  color: white;
  background-color: #545454;
  background-color: rgba(0,0,0,.7);
}
