//
// File: scss/_variables.scss
//
// Variables.
//
// Since:
//   0.8.13 - DTRT WordPress Plugin Boilerplate Generator
//

// -------------------------------------------------------------------
// Breakpoints for include-media
// see: https://gist.github.com/dotherightthing/06f33bf784279aa24072e0b6873c968c
// usage: @include media()
// -------------------------------------------------------------------

@import 'node_modules/include-media/dist/include-media';

$breakpoints: (
    phone: 414px,
    tablet: 768px,
    laptop: 1366px,
    desktop: 2000px
);

// -------------------------------------------------------------------
// Colors
// http://hex2rgba.devoth.com/
// -------------------------------------------------------------------

$wpdtrt-map-legend-bg-color: rgba(255, 255, 255, 1);
$wpdtrt-map-legend-text-color: rgba(0, 0, 0, 1);
$wpdtrt-map-leaflet-bar-border-color: rgba(0, 0, 0, .4);
$wpdtrt-map-leaflet-attribution-bg-color: rgba(255, 255, 255, .5);
$wpdtrt-map-link-bg-color: rgba(0, 0, 0, .7);
$wpdtrt-map-link-text-color: rgba(255, 255, 255, 1);
