//
// Styles for the WP Admin plugin options page
//
// @package     WPDTRT_Map
// @version 	0.1.0
// @since       0.8.3 DTRT WordPress Plugin Boilerplate Generator
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/backend';
@import 'variables';
@import 'extends';

// duplicate frontend styles for settings page demo
@import 'frontend';

.wpdtrt-maps-tip {
    display: block;
    font-size: .85em;
    padding-top: .2em;
}

.settings_page_wpdtrt-map {
    .wpdtrt-map {
        width: 500px;
    }
}
