//
// File: scss/backend.scss
//
// Styles for the WP Admin plugin options page.
//
// Since:
//   0.8.13 - DTRT WordPress Plugin Boilerplate Generator
//

// -------------------------------------------------------------------
// Variables
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/variables/scss';
@import 'variables/scss';

// -------------------------------------------------------------------
// Mixins
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/mixins';

// -------------------------------------------------------------------
// Extends
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/extends';

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

.wpdtrt-maps-tip {
    display: block;
    font-size: .85em;
    padding-top: .2em;
}

.settings_page_wpdtrt-map {
    .wpdtrt-map {
        width: 500px;
    }
}
