/**
 * Styles for the WP Admin plugin options page
 *
 * @package     WPDTRT_Map
 * @version 	0.0.1
 * @since       0.7.5
 */

@import "vendor/dotherightthing/wpdtrt-plugin/scss/_variables.scss";
@import "vendor/dotherightthing/wpdtrt-plugin/scss/_extends.scss";

.wpdtrt-maps-tip {
	display: block;
	font-size: .85em;
	padding-top: .2em;
}
