//
// Styles for the public front-end
//
// Since:
//   DTRT WordPress Plugin Boilerplate Generator 0.8.3
//
// @package WPDTRT_Map
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'variables';
@import 'extends';

// -------------------------------------------------------------------
// Styles
// Note: Replicating Godaddy Website Builder implementation for Hands Of Light
// -------------------------------------------------------------------

.wpdtrt-map {
    position: relative; // AP for link
    margin-top: 20px;
}

.wpdtrt-map-embed {
    height: 500px;

    // Custom Legend

    .wpdtrt-map-legend {
        background: $wpdtrt-map-legend-bg-color;
        color: $wpdtrt-map-legend-text-color;
        line-height: initial;
        padding: 5px;
        border: 1px solid;
        margin: 0;
    }

    // Zoom controls

    // add space below the control for the map link
    // @see https://stackoverflow.com/questions/33614912/how-to-locate-leaflet-zoom-control-in-a-desired-position
    .leaflet-bottom {
        &.leaflet-left {
            .leaflet-control-zoom {
                bottom: 30px !important; // an extra 10px allows for the missing .mapbox-logo.leaflet-control
            }
        }
    }

    // allow for leaflet incorrectly applying touch styling in MacOS Chrome
    &.leaflet-touch {

        .leaflet-bar {
            a {
                width: 26px; // match Godaddy
                height: 26px; // match Godaddy
                font-size: 16px; // match Godaddy which uses mapbox icons instead
                line-height: 23px; // vertically center     
            }
        }

        .leaflet-control-layers,
        .leaflet-bar {
            border-color: $wpdtrt-map-leaflet-bar-border-color;
            border-width: 1px;
            border-radius: 3px;
        }
    }

    // Attributions

    &.leaflet-container {
        .leaflet-control-attribution {
            background-color: $wpdtrt-map-leaflet-attribution-bg-color;
            font-size: 12px;

            a {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}

.wpdtrt-map-link {
    position: absolute;
    bottom: 0;
    z-index: 1001; // leaflet uses 400, leaflet-top and leaflet-bottom use 1000

    a {
        display: block;
        height: 20px;
        vertical-align: middle;
        background-color: $wpdtrt-map-link-bg-color;
        color: $wpdtrt-map-link-text-color;
        line-height: 20px;
        font-weight: normal;
        font-style: normal;
        padding: 5px 10px;
    }
}

// -------------------------------------------------------------------
// Media Queries
// -------------------------------------------------------------------

@include media('<=30em') {
    .wpdtrt-map-link {
        position: relative;
    }
}
